@charset "UTF-8";:root {
    --gutter: 18px;
    --gutter-double: calc(var(--gutter) * 2);
    --gutter-half: calc(var(--gutter) / 2);
    --gutter-and-a-half: calc(var(--gutter) + var(--gutter-half));
    --neg-gutter: calc(var(--gutter) * -1);
    --neg-gutter-double: calc(var(--gutter-double) * -1);
    --neg-gutter-half: calc(var(--gutter-half) / -1);
    --neg-gutter-and-a-half: calc(var(--gutter-and-a-half) * -1);
    --small-gutter: 6px;
    --small-gutter-double: calc(var(--small-gutter) * 2);
    --small-gutter-half: calc(var(--small-gutter) / 2);
    --neg-small-gutter: calc(var(--small-gutter) * -1);
    --neg-small-gutter-double: calc(var(--small-gutter-double) * -1);
    --neg-small-gutter-half: calc(var(--small-gutter-half) / -1);
    --admin-bar-height: 0px;
    --header-height: 118px;
    --close-icon-size: 28px
}

html {
    font-family: Rhymes Text, Times New Roman, serif !important;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: Rhymes Text, Times New Roman, serif !important;
}

* {
    box-sizing: border-box
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}



.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: var(--gutter-half);
    margin-right: var(--gutter-half)
}

.row .row {
    margin-left: var(--neg-gutter-half);
    margin-right: var(--neg-gutter-half)
}

.column {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-left: var(--gutter-half);
    padding-right: var(--gutter-half)
}




:root {
    --vh: 1vh;
    --vw: 1vw;
    --full-vh: calc(var(--vh, 1vh) * 100);
    --full-vw: calc(var(--vw, 1vw) * 100)
}

.base,body {
    font-family: Rhymes Text,Times New Roman,serif;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: -.01em;
    text-transform: none
}

@media (max-width: 768px) {
    .base,body {
        font-size:17px
    }
}

body {
    background-color: #f4edea;
    color: #0b0c24;
    text-transform: none;
    -webkit-font-smoothing: antialiased!important
}

@media (max-width: 768px) {
    body.home .footer {
        margin-top:-1px
    }
}


.cover,.homepage__hero__image .media-wrapper,.media-wrapper.square {
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.justify-start {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.justify-center,.justify-start {
    display: -ms-flexbox;
    display: flex
}

.justify-center {
    -ms-flex-pack: center;
    justify-content: center
}

.justify-end {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.justify-around,.justify-end {
    display: -ms-flexbox;
    display: flex
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.justify-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.align-start,.justify-between {
    display: -ms-flexbox;
    display: flex
}

.align-start {
    -ms-flex-align: start;
    align-items: flex-start
}

.align-center {
    -ms-flex-align: center;
    align-items: center
}

.align-center,.align-end {
    display: -ms-flexbox;
    display: flex
}

.align-end {
    -ms-flex-align: end;
    align-items: flex-end
}



h1,h2,h3,h4,h5,h6 {
    margin: 0
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    display: block
}

.h1,.h1 a,.h2,.h2 a,.h3,.h3 a,.h4,.h4 a,.h5,.h5 a,.h6,.h6 a,h1,h1 a,h2,h2 a,h3,h3 a,h4,h4 a,h5,h5 a,h6,h6 a {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 100%;
    /* text-transform: uppercase */
}

.h1 em,.h2 em,.h3 em,.h4 em,.h5 em,.h6 em,h1 em,h2 em,h3 em,h4 em,h5 em,h6 em {
    font-family: Rhymes Text,Times New Roman,serif;
    text-transform: none
}

.h1,.h1 a,h1,h1 a {
    font-size: 50px
}

@media (max-width: 1200px) {
    .h1,.h1 a,h1,h1 a {
        font-size:42px
    }
}

@media (max-width: 768px) {
    .h1,.h1 a,h1,h1 a {
        font-size:32px
    }
}

.h1>em,h1>em {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: -.04em;
    margin-left: -.01em;
    margin-right: 0.15em
}

@media (max-width: 1200px) {
    .h1>em,h1>em {
        font-size:36px
    }
}

@media (max-width: 768px) {
    .h1>em,h1>em {
        font-size:26px
    }
}

.h2,.h2 a,h2,h2 a {
    font-size: 36px;
    letter-spacing: normal
}

@media (max-width: 1200px) {
    .h2,.h2 a,h2,h2 a {
        font-size:30px
    }
}

@media (max-width: 768px) {
    .h2,.h2 a,h2,h2 a {
        font-size:24px
    }
}

.h3,.h3 a,blockquote,blockquote a,h3,h3 a {
    font-size: 32px;
    letter-spacing: normal
}

@media (max-width: 768px) {
    .h3,.h3 a,blockquote,blockquote a,h3,h3 a {
        font-size:22px
    }
}

.crest-lockup--large strong,.crest-lockup--large strong a,.h4,.h4 a,h4,h4 a {
    font-size: 28px;
    letter-spacing: normal
}

@media (max-width: 768px) {
    .crest-lockup--large strong,.crest-lockup--large strong a,.h4,.h4 a,h4,h4 a {
        font-size:22px
    }
}

.h5,.h5 a,.wysiwyg h1,.wysiwyg h1 a,.wysiwyg h2,.wysiwyg h2 a,h5,h5 a {
    font-size: 24px;
    letter-spacing: normal
}

@media (max-width: 768px) {
    .h5,.h5 a,.wysiwyg h1,.wysiwyg h1 a,.wysiwyg h2,.wysiwyg h2 a,h5,h5 a {
        font-size:20px
    }
}

.h6,.h6 a,h6,h6 a {
    font-family: ABC Arizona Sans,Helvetica,Arial;
    font-size: 18px;
    letter-spacing: .5em;
    margin-right: -.5em
}

@media (max-width: 768px) {
    .h6,.h6 a,h6,h6 a {
        font-size:14px
    }
}

.h6>em,h6>em {
    letter-spacing: .03em;
    margin-left: -.25em;
    margin-right: 0.32em
}

.crest-lockup--large span,.crest-lockup--large span a,.crest-lockup--small span,.crest-lockup--small span a,.crest-lockup--small strong,.crest-lockup--small strong a,.label,.label a,.wysiwyg h3,.wysiwyg h3 a,.wysiwyg h4,.wysiwyg h4 a,.wysiwyg h5,.wysiwyg h5 a,.wysiwyg h6,.wysiwyg h6 a,.wysiwyg th,.wysiwyg th a,a,a a,blockquote cite,blockquote cite a,button,button a,label,label a {
    /* font-family: sans-serif; */
    font-size: 11px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-right: -.2em
}

.crest-lockup--small span,.crest-lockup--small strong,.drawer__close,.footer__bottom a,.header [data-drawer=menu],.small,small {
    font-size: 10px
}

p {
    margin: 0;
    line-height: 150%
}

p:not(:last-child) {
    margin-bottom: var(--gutter)
}

p a {
    display: inline;
    font-size: 75%;
    letter-spacing: .1em;
    margin-right: -.1em
}

strong {
    font-weight: 700
}

ol,ul {
    padding: 0;
    margin: 0;
    list-style: none outside
}

a {
    text-decoration: underline;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent;
    text-underline-offset: 2px
}

@media (hover: hover) and (pointer:fine) {
    a:active,a:focus,a:hover {
        -webkit-text-decoration-color:rgba(11,12,36,.3);
        text-decoration-color: rgba(11,12,36,.3)
    }
}

button {
    background-color: transparent;
    border: none;
    padding: 0
}

a,button {
    color: #0b0c24;
    display: inline-block;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    transition: all .3s
}

@media (hover: hover) and (pointer:fine) {
    a:active .arrow-left,a:focus .arrow-left,a:hover .arrow-left,button:active .arrow-left,button:focus .arrow-left,button:hover .arrow-left {
        animation:.75s moveLeft
    }

    a:active .arrow-right,a:focus .arrow-right,a:hover .arrow-right,button:active .arrow-right,button:focus .arrow-right,button:hover .arrow-right {
        animation: .75s moveRight
    }

    a:active .arrow-down,a:focus .arrow-down,a:hover .arrow-down,button:active .arrow-down,button:focus .arrow-down,button:hover .arrow-down {
        animation: .75s moveDown
    }
}
.hero {
    margin: 125px 0 150px;
    text-align: center
}

@media (max-width: 768px) {
    .hero {
        margin:100px 0 125px
    }
}

.hero h1 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto
}

.card {
    width: 100%;
    position: relative;
    text-align: center
}

@media (hover: hover) and (pointer:fine) {
    .card:active .card__media:after,.card:focus .card__media:after,.card:hover .card__media:after {
        background-color:rgba(11,12,36,.4)
    }
}

.card__media {
    position: relative
}

.card__media:after {
    content: "";
    background-color: rgba(11,12,36,.2);
    transition: background-color .3s;
    z-index: 10
}

.card__content,.card__media:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.card__content {
    padding: var(--gutter);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 20
}

.card__content,.card__content a,.card__content button {
    color: #f4edea
}

.card__content svg {
    fill: #f4edea;
    stroke: #f4edea
}

.news-item {
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid rgba(11,12,36,.15);
    border-bottom: 1px solid rgba(11,12,36,.15);
    text-decoration: none
}

@media (max-width: 768px) {
    .news-item {
        padding:30px 0
    }
}

.news-item+.news-item {
    border-top: none
}

.news-item .column:last-of-type {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end
}

@media (max-width: 768px) {
    .news-item .column+.column {
        margin-top:10px
    }
}

.news-item .label {
    line-height: 130%
}

@media (max-width: 768px) {
    .news-item .label br {
        display:none
    }
}

.news-item .arrow-right {
    margin-top: 18.5px
}

@media (max-width: 1200px) {
    .news-item .arrow-right {
        margin-top:14.5px
    }
}

.crest {
    width: 42px
}

.crest-lockup {
    text-align: center;
    font-weight: 400;
    text-decoration: none
}

.crest-lockup img,.crest-lockup span,.crest-lockup strong {
    display: block
}

.crest-lockup img {
    margin: 0 auto
}

.crest-lockup--small img {
    margin-bottom: 12px
}

.crest-lockup--small span,.crest-lockup--small strong {
    margin-top: 4px;
    letter-spacing: .3em;
    margin-right: -.3em
}

.crest-lockup--large .crest {
    width: 60px;
    margin-bottom: var(--gutter-and-a-half)
}

@media (max-width: 768px) {
    .crest-lockup--large .crest {
        width:42px;
        margin-bottom: var(--gutter)
    }
}

.crest-lockup--large span,.crest-lockup--large strong {
    margin-top: var(--gutter-and-a-half)
}

@media (max-width: 768px) {
    .crest-lockup--large span,.crest-lockup--large strong {
        margin-top:var(--gutter)
    }
}

.crest-lockup--large span {
    font-size: 12px;
    letter-spacing: .4em;
    margin-right: -.4em
}

@media (max-width: 768px) {
    .crest-lockup--large span {
        font-size:9px
    }
}

.crest-lockup--large strong {
    line-height: 100%;
    letter-spacing: .1em;
    margin-right: -.1em
}

@media (max-width: 768px) {
    .crest-lockup--large strong {
        font-size:20px
    }
}

.archewell-links {
    width: calc(100% + var(--gutter));
    margin: 0 var(--neg-gutter-half)
}

.archewell-links__inner {
    width: 87.5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto
}

@media (max-width: 480px) {
    .archewell-links__inner {
        width:100%
    }
}

.archewell-links a {
    margin: 0 var(--gutter-half)
}

.widget--full figcaption {
    padding: 0 var(--gutter)
}

.widget--center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.widget--gallery .media-wrapper {
    width: auto;
    max-width: calc(var(--full-vw, 100vw) - var(--gutter-double));
    height: 35.71429vw
}

@media (max-width: 960px) {
    .widget--gallery .media-wrapper {
        height:50vw
    }
}

.widget--gallery .media-wrapper .media-placeholder {
    padding-bottom: 0!important;
    height: 100%
}

.widget--gallery .media-wrapper img {
    position: static;
    width: auto
}

.widget--gallery .widget__slider {
    position: relative;
    max-width: var(--full-vw,100vw)
}

@media (max-width: 714px) {
    .widget--gallery .widget__slider {
        display:none
    }
}

.widget--gallery .widget__slider__track .slick-slide {
    position: relative;
    margin: 0 var(--small-gutter-half)
}

.widget--gallery .widget__slider__track .slick-slide:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11,12,36,.4);
    z-index: 10;
    opacity: 0;
    transition: opacity .3s
}

@media (max-width: 714px) {
    .widget--gallery .widget__slider__track .slick-slide:after {
        display:none
    }
}

.widget--gallery .widget__slider__track .slick-slide:not(.slick-current):after {
    opacity: 1
}

.widget--gallery .widget__slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

@media (max-width: 714px) {
    .widget--gallery .widget__slider__arrow {
        display:none!important
    }
}

.widget--gallery .widget__slider__arrow--prev {
    left: var(--gutter)
}

.widget--gallery .widget__slider__arrow--next {
    right: var(--gutter)
}

.widget--gallery .widget__slider__arrow svg {
    fill: #f4edea;
    stroke: #f4edea
}

.widget--gallery .side-slider {
    margin-left: 0
}

@media (min-width: 715px) {
    .widget--gallery .side-slider {
        display:none
    }
}

.widget--link-list li {
    padding-left: 0;
    border-top: 1px solid rgba(11,12,36,.15);
    border-bottom: 1px solid rgba(11,12,36,.15)
}

.widget--link-list li:before {
    display: none
}

.widget--link-list li+li {
    margin-top: 0;
    border-top: none
}

.widget--link-list li a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: var(--gutter) 0
}

@media (min-width: 769px) {
    .posts-slider {
        margin-bottom:calc(var(--neg-gutter-and-a-half) - 15px)
    }
}

.posts-slider .range-slider__track>* {
    width: 42.5%
}

@media (max-width: 1200px) {
    .posts-slider .range-slider__track>* {
        width:62.5%
    }
}

@media (max-width: 768px) {
    .posts-slider .range-slider__track>* {
        width:75%
    }
}

@media (max-width: 480px) {
    .posts-slider .range-slider__track>* {
        width:87.5%
    }
}

.posts-slider input[type=range] {
    opacity: 0
}

.load-more {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 60px 0
}

@media (max-width: 768px) {
    .load-more {
        margin:40px 0
    }
}

.load-more button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

@media (hover: hover) and (pointer:fine) {
    .load-more button:active .arrow-down,.load-more button:focus .arrow-down,.load-more button:hover .arrow-down {
        animation:.75s moveDown
    }
}

.load-more button .arrow-down {
    margin: 0 var(--gutter)
}


.homepage__hero {
    position: relative;
    /* background-color: #0b0c24; */
    height: calc(var(--full-vh, 100vh) - var(--admin-bar-height));
    min-height: 500px
}

.homepage__hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.homepage__hero__image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(11,12,36,.7) */
}

@media (max-width: 768px) {
    .homepage__hero__image:after {
        /* background-color:rgba(11,12,36,.4) */
    }
}

.homepage__hero__image .lazy-image {
    transition: opacity 2.5s .6s;
}

.homepage__hero__content {
    position: relative;
    text-align: center;
    padding-bottom: 100px;
    z-index: 10
}

@media (max-width: 768px) {
    .homepage__hero__content {
        padding:var(--gutter-and-a-half) 0 70px
    }
}

.homepage__hero__content,.homepage__hero__content .column,.homepage__hero__content .row {
    height: 100%
}

.homepage__hero__content .column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

/* @media (max-width: 768px) {
    .homepage__hero__content .column {
        -ms-flex-pack:start;
        justify-content: flex-start
    }
} */

.homepage__hero__content .arrow-link {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%)
}

@media (max-width: 768px) {
    .homepage__hero__content .arrow-link {
        bottom:var(--gutter-and-a-half)
    }
}

.homepage__hero__content,.homepage__hero__content a,.homepage__hero__content button {
    color: #f4edea;
}

.homepage__hero__content svg {
    fill: #f4edea;
    stroke: #f4edea
}

.homepage__posts {
    margin-top: var(--gutter-and-a-half)
}

.generic .hero h1 .h6,.generic .hero h1+.label,.single .hero h1 .h6,.single .hero h1+.label {
    display: block;
    margin-top: var(--gutter)
}

@media (max-width: 768px) {
    .generic .hero h1 .h6,.generic .hero h1+.label,.single .hero h1 .h6,.single .hero h1+.label {
        margin-top:var(--gutter-half)
    }
}

.generic .hero .media-wrapper,.single .hero .media-wrapper {
    margin: 50px auto -100px;
    max-width: 1140px
}

.generic__main,.single__main {
    margin: 150px 0
}

@media (max-width: 768px) {
    .generic__main,.single__main {
        margin:125px 0 100px
    }
}

.landing .hero {
    margin-bottom: 50px
}

@media (max-width: 768px) {
    .landing .hero {
        margin-bottom:35px
    }
}

.landing__cta,.landing__main {
    position: relative;
    padding-top: var(--gutter)
}

.landing__cta:before,.landing__main:before {
    content: "";
    position: absolute;
    top: 0;
    left: var(--gutter);
    right: var(--gutter);
    height: 1px;
    background-color: rgba(11,12,36,.15)
}

.landing__main .news-items {
    margin-top: var(--neg-gutter)
}

.landing__main .news-items .news-item:first-of-type {
    border-top: none
}

.landing__main .load-more {
    margin-bottom: 0
}

.landing__cta {
    margin-top: 60px;
    margin-bottom: var(--neg-gutter-and-a-half);
    padding: 100px 0;
    text-align: center
}

@media (max-width: 768px) {
    .landing__cta {
        margin-top:40px;
        padding: 65px 0
    }
}

.landing__cta p,.landing__cta svg+h2 {
    margin-top: 5px
}

.landing__cta .base,.landing__cta body,.landing__cta p {
    line-height: 100%
}

.landing__cta p a {
    font-size: 100%
}


.rsvp_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 100vw;
    height: 100%;    
}

form {
    width: 100%;
    height: 80vh;
    max-width: 420px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-evenly; */
    padding-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea,
select {
  color: #333333;
  border: none;
  padding: 0.3125rem 0;
  border-radius: 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid olivedrab;
  background-color: var(--color-none);
}

input::placeholder {
  color: grey;
}
label {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5rem;
  margin-top: 1rem;
  font-weight: 900;
  color: balck;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: none !important;
}

button {
    font-weight: 600;
    color: #333333;
    border: 1px solid #01313c;
    border: none;
    padding: 0.3125rem 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 1rem;
    margin: 0;
    margin-top: calc(4 * 0.3125rem);
    position: relative;
    box-shadow: none;
}
[type=submit]:hover {
    border: 2px solid #01313c;
    cursor: pointer;
    border-radius: 1.5rem;
    padding: 1rem;
}

.arrow-down img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
}

.arrow-down {
    position: absolute;
    top: 85%;
}

@media (max-width: 768px) {
    .arrow-down {
        top: 75%;
    }
}
.pulse{
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5rem);
    }
    100% {
        transform: translateY(0);
    }
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 3rem;
    z-index: 999 !important;
    transition: all 0.5s;
    border-radius: 10px;
    align-items: center;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #404040;
    opacity: 0.5;
    z-index: 2 !important;
  }



.popup h3 {
    padding-top: 1rem !important;
    margin-bottom: 3rem !important;
}

section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
  }

  .flex {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 2rem;
  }

/* 
  .title {
    font-size: 2rem;
  } */

  /* .close{
    position: absolute !important;
    top: 0 !important;
    right: 3rem !important; 
    margin-bottom: 3rem !important;
  } */

  h2 {
    margin-bottom: 2rem;
  }

  .reverse{
    display: flex;
    flex-direction: row;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 70%;
  }
  .address p {
    text-align: center;
    align-items: center;
  }


  main {
        display: flex !important;
        flex-direction: column !important;
    /* height: 100% !important; */
  }

  @media (max-width: 48rem) {
    main {
      height: 100% !important;
      padding: 1rem;
    }
  }