---
import "../styles/style.css";
import Footer from '../../src/components/Footer.astro'

// import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <!-- <ViewTransitions /> -->
    <title>M&D's Wedding</title>
  </head>

  <body>
    
    <main>

        <div class="homepage">

        <section class="homepage__hero">
        <div class="homepage__hero__image">
        <div class="media-wrapper media-wrapper--image is-loaded">
        <div class="media-placeholder" style="padding-bottom: 72.862694300518%;">
            <img alt="" class="lazy-image" src="./assets/bg.jpg" />

         
        </div>
  
      
    </div>
    </div>
        <div class="homepage__hero__content">
        <div class="row">
        <div class="column">
        <div class="crest-lockup crest-lockup--large">
        <h1>
        <span>KINDLY SAVE THE DATE FOR THE WEDDING OF</span>
        <strong>DIANA & MICK</strong>
        <span>Saturday, the 10<sup>th</sup> of August 2024</span>
        <span>Invitation to follow</span>
        </h1> 
        </div>


        <div class="arrow-down pulse">
            <a href="#form">
            <img alt="" class="lazy-image" src="./assets/arrow-down.svg"/>
        </a>
        </div>


        </div>
        </div>
        </div>
        </section>

        <section id="form" class="rsvp_form">
            <form
                    action="https://formspree.io/f/xrgnlbyp"
                    method="POST"
                    >
                    <h2>RSVP</h2>
                    <label>
                        Full name:
                        <input type="text" name="fullName" required>
                    </label>
                    <label>
                       Phone number:
                        <input type="tel" name="phoneNumber" required>
                    </label>
                    <label>
                        Email:
                         <input type="email" name="email" required>
                     </label>
                     <label>
                        Dietary restrictions:
                        <textarea name="dietRestict" required></textarea>
                     </label>
                     <label for="plus">Nr. of guests accompanying you:</label>
                     <select name="plus" id="plus"  onchange="showPopup()" required="">
                         <option value="0" selected="">0</option>
                         <option value="1">1</option>
                         <option value="2">2</option>
                         <option value="3">3</option>
                         <option value="4">4</option>
                     </select>

                      <!-- Popup div -->
            <div id="modal-overlay" class="overlay" onclick="hidePopup()"></div>
            <div id="popup" class="popup">
               
                <h3>Additional Information</h3>
                <!-- Add additional form fields for guests -->
                <label>
                  Guest Name(s):
                  <input type="text" name="guestName" required>
                  <p style="font-size: .5rem; color: grey"><i>Separate names of guests using a comma.</i></p>
                </label>
                <label>
                    Dietary restrictions:
                    <textarea name="guestDietRestict" required></textarea>
                 </label>
  
                <button type="button" onclick="hidePopup()">Close</button>
              </div>
         
                    <!-- your other form fields go here -->
                <button type="submit">Send</button>
        </form>
        </section>
        </div>
   
        </main>
        <Footer/>
        
  </body>
  <script is:inline>
    function showPopup() {
      const overlay = document.getElementById("modal-overlay");
      const guestsSelect = document.getElementById("plus");
      const popup = document.getElementById("popup");

      if (guestsSelect.value > 0) {
        overlay.style.display = "block";
        popup.style.display = "block";
      } else {
        overlay.style.display = "none";
        popup.style.display = "none";
      }
    }

    function hidePopup() {
      const overlay = document.getElementById("modal-overlay");
      const popup = document.getElementById("popup");

      overlay.style.display = "none";
      popup.style.display = "none";
    }
  </script>

</html>