---
import LanguagePicker from '../components/LanguagePicker.astro';
---
<nav>
<LanguagePicker/>
</nav>

<style>
    nav {
        /* background-color: #525b68 !important; */
        overflow: hidden;
        position: absolute;
        float: right;
        z-index: 2;
        padding: 1rem 1rem;

    }
    
</style>